<section data-ng-controller="HomeController">
    <br><br><br>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="jumbotron text-center">
                <h1>DASHBOARD</h1>
                <h4><a href="/#!/signin">Sign In</a></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <img class="img-responsive text-center center-block"
                 src="modules/core/img/brand/syn-logo-withTagLine.png"/>
        </div>
    </div>
    <br>
</section>
