<section data-ng-controller="EmployeesController" data-ng-init="find()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-user"> Employees</span></h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form>
                <div class="input-group">
                    <input type="text" ng-model="empFilterText" class="form-control"/>

                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-filter"></i> Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>

    <div>
        <div class="row">
            <a data-ng-repeat="employee in employees | filter:empFilterText"
               data-ng-href="#!/employees/{{employee._id}}">
                <div class="col-xs-12 col-md-4">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            <span class="badge">{{employee.firstName}} {{employee.lastName}}</span>
                        </div>
                        <div class="panel-stage">
                            <div class="row">
                                <div class="col-xs-8 col-md-6">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                        </div>
                                        <div class="panel-stage grey">
                                            <img src='modules/employees/img/profile.jpg'
                                                 class='img-responsive img-circle white'>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-6">

                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            <div class="panel-stage">{{employee.role}}</div>
                                        </div>
                                        <div class="panel-stage">
                                            <small> With {{employee.experience}} years</small>
                                        </div>
                                    </div>
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            <small class="panel-stage"> Projects</small>
                                        </div>
                                        <div class="panel-stage">
                                            <small data-ng-repeat="proj in employee.worksFor">{{proj.name}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            Skills
                                        </div>
                                        <span class="badge"
                                              data-ng-repeat="skill in employee.skills">{{skill.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-notes">
                            Belongs to <span class="owner-panel-notes"> {{employee.belongsTo.name}}</span>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!employees.$resolved || employees.length">
        No Employees yet, why don't you <a href="/#!/employees/create">create one</a>?
    </div>
</section>
