<section data-ng-controller="OrganizationsController" data-ng-init="find()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-tree-conifer"> Organizations</span></h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form>
                <div class="input-group">
                    <input type="text" ng-model="orgFilterText" class="form-control"/>

                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-filter"></i> Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>

    <div>
        <div class="row">
            <a data-ng-repeat="organization in organizations | filter:{name:orgFilterText}"
               data-ng-href="#!/organizations/{{organization._id}}">
                <div class="col-xs-12 col-md-4">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            <span class="badge">{{organization.name}}</span>
                        </div>
                        <div class="panel-stage">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            Billable Vs Bench
                                            <div class="pull-right">Total:{{organization.totalHeadCount}}</div>
                                        </div>
                                        <div class="panel-stage">
                                            <canvas class="chart chart-bar" data="organization.data"
                                                    labels="organization.label" legend="true"
                                                    series="organization.series"
                                                    colours="organization.colours">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            Projects
                                        </div>
                                        <div class="panel-stage">
                                            <span ng-repeat="project in organization.projects">{{project.name}} &nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-notes">
                            Owned by <span class="owner-panel-notes"> {{organization.owner.firstName}}&nbsp;{{organization.owner.lastName}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!organizations.$resolved || organizations.length">
        No Organizations yet, why don't you <a href="/#!/organizations/create">create one</a>?
    </div>
</section>
