<section data-ng-controller="OrganizationsController" data-ng-init="findOne()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-tree-conifer">&nbsp;Details</span></h2>
    </div>
    <div class="pull-right"
         data-ng-show="((authentication.user) && (authentication.user._id == organization.user._id))">
        <a class="btn btn-primary" href="/#!/organizations/{{organization._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-8 col-md-8">
            <div class="panel-wrapper">
                <div class="panel-title">
                    <span class="badge">{{organization.name}}</span>
                </div>
                <div class="panel-stage">

                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable Vs Bench
                            <div class="pull-right">Total:{{organization.totalHeadCount}}</div>
                        </div>
                        <div class="panel-stage">
                            <canvas class="chart chart-bar" data="organization.data"
                                    labels="organization.label" legend="true" series="organization.series"
                                    colours="organization.colours">
                            </canvas>
                        </div>
                    </div>

                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Projects
                        </div>
                        <div class="panel-stage"><span ng-repeat="project in organization.projects">{{project.name}} &nbsp;&nbsp;</span>
                        </div>

                    </div>
                </div>
                <div class="panel-notes">
                    Owned by <span class="owner-panel-notes">{{organization.owner.firstName}}&nbsp;{{organization.owner.lastName}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
