<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-leaf"> Edit Project</span></h2>
    </div>
    <div class="col-md-8">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="project.name" id="name" class="form-control"
                               placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="startDate">Start Date</label>

                    <div class="controls">
                        <input type="date" data-ng-model="project.startDate" id="startDate" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="endDate">End Date</label>

                    <div class="controls">
                        <input type="date" data-ng-model="project.endDate" id="endDate" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="ongoing">Ongoing</label>
                    <input type="checkbox" class="controls" id="ongoing" data-ng-model="project.ongoing">
                </div>

                <div class="form-group">
                    <label class="control-label" for="totalHeadCount">Total Head Count</label>

                    <div class="controls">
                        <input type="number" data-ng-model="project.totalHeadCount" id="totalHeadCount"
                               class="form-control"
                               min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="billableHeadCount">Billable Head Count</label>

                    <div class="controls">
                        <input type="number" data-ng-model="project.billableHeadCount" id="billableHeadCount"
                               class="form-control" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="benchHeadCount">Bench Head Count</label>

                    <div class="controls">
                        <input type="number" data-ng-model="project.benchHeadCount" id="benchHeadCount"
                               class="form-control"
                               min="0" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="employees">Owner</label>

                    <div class="controls" id="employees">
                        <select class="form-control" ng-model="project.owner"
                                ng-options="emp._id as emp.firstName for emp in employees"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="organization">Organization</label>

                    <div class="controls" id="organization">
                        <select class="form-control" ng-model="project.belongsTo"
                                ng-options="org._id as org.name for org in organizations"></select>
                    </div>
                </div>

                <br><br>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
