<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-leaf"> Projects</span></h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form>
                <div class="input-group">
                    <input type="text" ng-model="projFilterText" class="form-control"/>

                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-filter"></i> Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>

    <div>
        <div class="row">
            <a data-ng-repeat="project in projects | filter:{name:projFilterText}"
               data-ng-href="#!/projects/{{project._id}}">
                <div class="col-xs-12 col-md-4">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            <span class="badge"> {{project.name}} </span> : <span
                                class="badge">{{project.benchHeadCount}}</span> Open Positions
                            <div class="pull-right" data-ng-show="project.ongoing">Ongoing</div>
                        </div>
                        <div class="panel-stage">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            Billable vs Bench
                                            <div class="pull-right">Total:{{project.totalHeadCount}}</div>
                                        </div>
                                        <div class="panel-stage">
                                            <canvas class="chart chart-doughnut" data="project.data"
                                                    labels="project.label" legend="true"
                                                    colours="project.colours">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel-wrapper">
                                        <div class="panel-title">
                                            People
                                        </div>
                                        <div class="panel-stage">
                                            <span ng-repeat="member in project.members">{{member.firstName}} &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-notes">
                            Owned by <span class="owner-panel-notes"> {{project.owner.firstName}}&nbsp;{{project.owner.lastName}} </span>

                            <div class="pull-right">Belongs to <span
                                    class="owner-panel-notes"> {{project.belongsTo.name}}</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
        No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>
