<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h2><span class="glyphicon glyphicon-leaf">&nbsp;Details</span></h2>
    </div>
    <div class="pull-right"
         data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
        <a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-8 col-md-8">
            <div class="panel-wrapper">
                <div class="panel-title">
                    <span class="badge"> {{project.name}} </span> : <span
                        class="badge">{{project.benchHeadCount}}</span> Open Positions
                    <div class="pull-right" data-ng-show="project.ongoing">Ongoing</div>
                </div>
                <div class="panel-stage">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Billable People
                                </div>
                                <div class="panel-stage">
                                    <canvas class="chart chart-doughnut" data="project.data"
                                            labels="project.label" legend="true">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    People
                                </div>
                                <div class="panel-stage">
                                    <span ng-repeat="member in project.members">{{member.firstName}} &nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-notes">
                    Owned by <span
                        class="owner-panel-notes">{{project.owner.firstName}}&nbsp;{{project.owner.lastName}}</span>

                    <div class="pull-right">Belongs to <span
                            class="owner-panel-notes"> {{project.belongsTo.name}}</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
